<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Employees</title>
    <script src="js/angular.min.js"></script>
    <link rel="stylesheet" href="bootstrap-3.2.0-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="cssMain/MainStyle.css" />
    <link rel="stylesheet" href="css/Week4/employee.css" />
</head>
<body ng-app>
    <div class="container" ng-controller="EmployeeController">
        <h2>Description</h2>
        <p>
            Performing CRUD operations in the MongoDB cloud database using NodeJS
        </p>

        <hr />

        <h2>Purpose</h2>
        <p>
            The purpose of this experiment is to learn how to utilize MongoJS package and do CRUD operations on NodeJS.
            I had to mostly worry about asynchronous callbacks that were a real headache initially, until I got a 
            grasp of the technology and how it works in NodeJS, since this is my first tryst with blocking calls.
        </p>
        <p>
            I have a website that adds, deletes, reads and updates the data in the website database. I have fully
            utilized <b>HTTP "POST" and "GET"</b> calls to make this work and have learnt quite a lot about this 
            API. I am moving with an assumption that this experiment will be a key one for me to understand
            and implement my project design.
        </p>
        <p>
            I have also employed <b>Angular Scoping and Dirty classes</b> to make sure that I dynamically update the 
            data from the text boxes on the fly. This was a pretty cool feature of angular that I really liked.
        </p>
        <hr />

        <h2>Implementation</h2>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>EmployeeID</th>
                        <th>Hobby</th>
                    </tr>
                    <tr>
                        <th>
                            <input class="form-control ng-valid ng-dirty" ng-model="newEmployee.name" />
                        </th>
                        <th>
                            <input class="form-control ng-valid ng-dirty" ng-model="newEmployee.empId" />
                        </th>
                        <th>
                            <input class="form-control ng-valid ng-dirty" ng-model="newEmployee.hobby" />
                        </th>
                        <th>
                            <button class="btn btn-success" ng-click="update(newEmployee)">Update</button>
                            <button class="btn btn-success" ng-click="add(newEmployee)">Add</button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="employee in employees">
                        <td>{{employee.name}}</td>
                        <td>{{employee.empId}}</td>
                        <td>{{employee.hobby}}</td>
                        <th>
                            <button class="btn btn-primary" ng-click="edit(employee)">Edit</button>
                            <button class="btn btn-danger" ng-click="delete(employee)">Delete</button>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <button class="btn btn-primary" ng-click="getEmployeeDetails()">Get Employee List</button>
        </div>
    </div>
    <script src="js/Week4/EditEmployees.js"></script>

    <hr />

    <h2>References</h2>
    <p><a href="https://www.youtube.com/watch?v=QvSC2wHjyAY" target="_blank">Professor Jose's video class examples</a></p>

    <hr />

    <h2>Source code</h2>
    
</body>
</html>
