<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Employees</title>
    <script src="js/angular.min.js"></script>
    <link rel="stylesheet" href="bootstrap-3.2.0-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="cssMain/MainStyle.css" />
    <link rel="stylesheet" href="css/Week4/employee.css" />
</head>
<body ng-app>
    <div class="container" ng-controller="EmployeeController">
        <h2>Description</h2>
        <p>
            Doing a <b>FIND/READ</b> operation using MongoJS in the cloud database.
        </p>

        <hr />

        <h2>Purpose</h2>
        <p>
            I have used MongoJS's <b>find()</b> functionality to get data from the backend MongoDB database in my
            Openshift application and display it in a table.
        </p>
        <p>
            The purpose of this experiment was to check out how the Mongo operation works in conjunction with 
            NodeJS routes and how to deliver <b>Static HTML pages</b> in the cloud using the <b><i>express.static</i></b>
            command usage to mark static pages for rendering.
        </p>
        <p>
            You just need to hit the <a href="http://employeesprojects-nairar.rhcloud.com/EmployeePage">page URL</a> and click on
    <b>Get Details</b> button to get the data from the backend database
    in Openshift.
</p>
        <hr />

        <h2>Implementation</h2>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>EmployeeID</th>
                        <th>Hobby</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="employee in employees">
                        <td>{{employee.name}}</td>
                        <td>{{employee.empId}}</td>
                        <td>{{employee.hobby}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <button class="btn btn-primary" ng-click="getEmployeeDetails()">Get Employee List</button>
        </div>
        <hr />

        <h2>References</h2>
        <p><a href="https://www.youtube.com/watch?v=QvSC2wHjyAY" target="_blank">Professor Jose's video class examples</a></p>

        <hr />

        <h2>Source code</h2>
        <p><a href="https://github.com/nairar/EmployeesProjects.git" target="_blank">Github Source for MEAN stack app</a></p>
    </div>
    <script src="js/Week4/Employees.js"></script>

   

</body>
</html>
